@import './fonts';

// fontawesome
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
// ~ alias pt node modules

// bootstrap
@import './../node_modules/bootstrap/scss/bootstrap-reboot';
@import './../node_modules/bootstrap/scss/bootstrap-grid';
@import './../node_modules/bootstrap/scss/bootstrap-utilities';
//@import './../node_modules/bootstrap/scss/images';

//site
@import './shared/index';

// catalog
@import './catalog/index';

//reset
@import './reset';

//variables
@import './variables';

@import './shared/header/index';

body {
  font-family: 'Playfair Display', 'sans-serif';
  color: $black;
  font-size: 16px;
}
